backend/target/
frontend/node_modules/
frontend/dist/
frontend/build/
.log
.class
.jar
.war
backend/target/*.original
backend/target/classes/
backend/target/generated-sources/
backend/target/maven-archiver/
backend/target/maven-status/
backend/target/surefire-reports/
backend/target/test-classes/
